.contact-info {
  display: none;
  flex: auto;
  position: relative;
  color: white;
  width: 50%;
  overflow: hidden;
  background-color: black;
}
.contact-info .background-image {
  display: none;
  position: absolute;
}
.title {
  font-size: 30px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 35px;
}
.info {
  position: relative;
  z-index: 100;
}
.contact-item {
  font-size: 19px;
  margin-bottom: 15px;
}
.contact-item a {
  display: flex;
  align-items: center;
}
.contact-item:last-child {
  margin-bottom: 0px;
}
.contact-item svg {
  height: 100%;
  width: 100%;
  fill: var(--theme);
}
.contact-item-icon {
  height: 35px;
  width: 35px;
  margin-left: 20px;
}

@media only screen and (min-width: 768px) {
  .contact-info {
    display: block;
  }
  .info {
    margin-right: 30px;
  }
}
@media only screen and (min-width: 1025px) {
  .contact-info {
    background-color: transparent;
  }
  .contact-info .background-image {
    display: block;
  }
  .info {
    margin-right: 25%;
  }
  .contact-item {
    color: white;
  }
}
