.App {
  display: flex;
}
html {
  direction: rtl;
}

ul {
  padding: 0px;
  list-style-type: none;
}
a {
  color: inherit;
  text-decoration: none;
}

:root {
  --theme: #dd6b49;
  --theme-hover: green;
  --theme-black: black;
  --tablet-breakpoint: 1025px;
  --mobile-breakpoint: 768px;
}
