#alexmedia-header {
  background-color: var(--white) !important;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  #alexmedia-header a {
    color: var(--alex-white);
    font-size: 17px;
  }
  @media only screen and (min-width: 768px) {
    .menu-item-has-children:after {
      top: 27px;
    }
  }
}
