#alexmedia-header {
  background-color: var(--alex-purple) !important;
  font-family: "Heebo", sans-serif;
  font-weight: 500;
  position: sticky;
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  }
  .menu-click i {
    color: rgba(255, 255, 255, 0.45) !important;
  }
  .menu-item-with-icon path {
    fill: white;
  }

  nav {
    padding-right: 0px;
  }
  .container {
    padding-right: 0px;
  }
  .admin-bar .fixed-top {
    top: 0px;
  }
  .site-logo {
    display: none;
  }
  a {
    color: var(--white);
    font-size: 17px;
    // white-space:nowrap;
  }
  .social-icons {
    display: flex;
  }
  .header-social:first-child {
    margin-right: 0px;
  }
  .header-social {
    max-width: 35px;
    svg {
      width: 100%;
      height: 100%;
    }
    margin-right: 10px;
  }
  .seperator {
    width: 2px;
    height: 30px;
    background-color: var(--white);
    margin-right: 7px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .promotion {
    display: flex;
    align-items: center;
  }
  .logo {
    width: 100px;
    margin-right: 10px;
  }
  .mainmenu > li {
    white-space: nowrap;
  }
  @media only screen and (max-width: 767px) {
    [class*="navbar-expand"] .navbar-nav .mainmenu li a {
      border-top: 0.0625rem solid rgba(255, 255, 255, 0.3);
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 1041px;
    }
  }
  @media (min-width: 960px) {
    .header-social {
      max-width: 35px;
      svg {
        width: 100%;
        height: 100%;
      }
      margin-right: 10px;
    }
    .mobile {
      display: none;
    }
    .desktop {
      display: block;
    }

    .menu-item-has-children:after {
      top: 27px;
    }
    .header-social {
      margin-right: 10px;
      white-space: nowrap;
    }
    .header-social:first-child {
      margin-right: 31px;
    }
  }
}
