body.page-id-509 {
  font-family: "Heebo", sans-serif;

  background-color: white !important;
  #social-h1 {
    h1 {
      color: var(--alex-purple);
    }
  }
  #social-header-paragraph {
    background-color: white;
    font-size: 20px;
    font-weight: 500;
  }
}
