:root {
  --alex-white: #f8f9fd;
  --alex-purple: #160d4c;
  --alex-pink: #dfcaf0;
  --alex-purple-light: #1e145f;
  --alex-cyan: #88b9ee;
}
html[dir="rtl"] {
  background-color: #f8f9fd !important;
  margin-top: 0px !important;
}
body.rtl {
  color: var(--alex-purple);
  font-family: "Heebo", sans-serif;
  background-color: var(--alex-white) !important;
  color: var(--alex-purple);
  .ts-page-wrapper {
    overflow: unset;
  }
  .alex-no-wrap .elementor-widget-wrap {
    flex-wrap: nowrap;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Heebo", sans-serif;
    color: var(--alex-purple);
    font-weight: bold;
    // background-color: var(--alex-white);
    font-size: 28px;
  }

  p {
    font-size: 20px;
  }
  .list-item-icon path {
    fill: var(--alex-purple) !important;
  }
  section {
    margin: auto;
  }
  a.navigation {
    text-align: center;
    box-shadow: 4px 4px 2px var(--alex-pink);
    font-size: 14px;
    padding: 10px;
    color: var(--alex-purple);
    font-weight: bold;
    border: 1px solid var(--alex-purple);
    flex: auto;
    &.invert-button {
      background-color: var(--alex-purple);
      color: white;
    }
  }
  #hero-buttons {
    display: flex;
    justify-content: center;
    a {
      max-width: 200px;
    }
  }
  .full-width {
    max-width: 99999px;
  }
  #service-hero {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    max-width: 99999px;
    min-height: calc(100vh - 73px);
    display: flex;
    background-position: right;
    padding-left: 20px;
    padding-right: 20px;
    & > div {
      margin: 0px;
    }
    .elementor-column-wrap.elementor-element-populated {
      padding: 0px;
    }
    #contact-us {
      margin-right: 15px;
    }
  }
  // blog css
  .blog-page-block {
    background-color: var(--alex-white) !important;
    padding-top: 30px;
  }

  .blog-page-content .post {
    background-color: var(--alex-white) !important;
  }
  .blog-sidebar-content {
    background-color: var(--alex-white) !important;
  }
  .entry-title {
    color: var(--alex-purple) !important;
  }
  .blog-page-content .post.sticky h2.entry-title:after {
    display: none !important;
  }
  .entry-content a.more-link {
    background-color: transparent;
    box-shadow: none;
    color: var(--alex-purple);
    font-size: 18px;
    text-decoration: underline;
    font-weight: 700;
    padding: 0px;
  }
  .blog-page-content:not(.blog-single-page) .more-link:hover {
    background-color: transparent;
    text-decoration: underline !important;
    color: var(--alex-cyan);
  }
  .blog-sidebar-content .widget-title:before,
  .blog-sidebar-content .widget-title:after {
    background-color: var(--alex-purple) !important;
  }
  .comment-content {
    color: white;
  }
  a:hover,
  a:focus,
  a:active {
    color: var(--alex-cyan);
  }
  .logged-in-as {
    a {
      color: var(--alex-purple) !important;
    }
  }
  .form-control {
    background-color: var(--alex-purple);
  }
  .comment-respond #submit {
    background-color: var(--alex-purple);
    border-color: var(--alex-purple);
  }
  .comments-area {
    background-color: var(--alex-purple);
  }
  .contactform,
  #reply-title,
  #comment_form,
  .comments-area {
    display: none;
  }

  .more-link {
    display: none;
  }
  #service-header-left {
    padding-right: 10px;
    .elementor-widget-container {
      display: flex;
      justify-content: center;
    }
  }
  #service-header-right {
    line-height: 36px !important;
    // max-width: 350px;
    margin: auto;
    .elementor-widget-wrap {
      flex-direction: column;
      /* background-color: white; */
      display: flex;
      justify-content: center;
    }
    p {
      // background-color: var(--alex-white);
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  a.navigation {
    // border: none;
    // // margin: 0;
    // // padding: 0;
    // // width: auto;
    // // overflow: visible;
    // flex: auto;
    // // background: transparent;

    // /* inherit font & color from ancestor */
    // // color: inherit;
    // // font: inherit;

    // /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    // line-height: normal;

    // /* Corrects font smoothing for webkit */
    // -webkit-font-smoothing: inherit;
    // -moz-osx-font-smoothing: inherit;

    // /* Corrects inability to style clickable `input` types in iOS */
    // -webkit-appearance: none;
  }
  .alexmedia dt {
    color: var(--alex-purple);
    font-size: 24px;
  }
  #social-hero-image-mobile {
    // max-width: 300px;
    margin-top: 25px;
    // fix safari bug with images
    align-self: flex-start;
  }
  #social-hero-image {
    display: none;
  }
  // footer
  [data-id="31f51edc"] {
    max-width: 99999px !important;
    width: 100%;
    margin: 0px;
    color: white;

    h2 {
      color: white;
    }
  }
  @media (min-width: 550px) {
    #service-hero {
      padding-top: 25px;
    }
  }
  @media (min-width: 768px) {
    section,
    #service-hero-inner {
      max-width: 960px;
    }
    #social-hero-image-mobile {
      width: 100%;
      transform: translateX(0);
      margin-top: 0px;
    }
    #service-hero > div > div > div > div > div {
      align-items: center;
      flex-direction: column;
    }
    #service-hero {
      padding-top: 0px;
      .elementor-row {
        flex-wrap: nowrap;
      }
    }
    #service-header-left {
      width: 425px;
    }
    #service-header-right {
      max-width: 350px;
      margin: 0px;
      p {
        font-size: 20px;
      }
    }
    p {
      font-size: 20px;
      margin-bottom: 20px;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    }
    a.navigation {
      font-size: 18px;
      padding: 10px 40px;
    }
  }
  @media (min-width: 992px) {
    #social-hero-image {
      display: inline-block;
    }
    #social-hero-image-mobile {
      display: none;
    }
    #hero-buttons {
      margin-bottom: 50px;
      justify-content: normal;
    }
    #service-header-left {
      width: 560px;
      padding-right: 0px;
    }
    #service-hero {
      padding-top: 50px;
    }
  }
  @media (min-width: 1200px) {
    section,
    #service-hero-inner {
      max-width: 1140px;
    }
    #service-header-left {
      width: 900px;
    }
    #service-hero {
      padding-left: 0px;
      padding-right: 0px;
    }
    #hero-buttons {
      margin-bottom: 0px;
    }
  }
}

body.page-id-509 {
  @media (min-width: 992px) {
    #hero-buttons {
      margin-bottom: 50px;
    }
  }

  @media (min-width: 1200px) {
    #hero-buttons {
      margin-bottom: 0px;
    }
  }
}
body.page-id-538 {
  @media (min-width: 992px) {
    #hero-buttons {
      margin-bottom: 81px;
    }
  }

  @media (min-width: 1200px) {
    #hero-buttons {
      margin-bottom: 30px;
    }
  }
}
body.page-id-524 {
  @media (min-width: 992px) {
    #hero-buttons {
      margin-bottom: 93px;
    }
  }

  @media (min-width: 1200px) {
    #hero-buttons {
      margin-bottom: 53px;
    }
  }
}
body.page-id-472 {
  @media (min-width: 992px) {
    #hero-buttons {
      margin-bottom: 107px;
    }
  }

  @media (min-width: 1200px) {
    #hero-buttons {
      margin-bottom: 93px;
    }
  }
}
body.page-id-531 {
  @media (min-width: 992px) {
    #hero-buttons {
      margin-bottom: 137px;
    }
  }

  @media (min-width: 1200px) {
    #hero-buttons {
      margin-bottom: 93px;
    }
  }
}
body.page-id-1060 {
  background-color: white !important;
  #service-hero {
    background-color: #ffecf1;
    background-position: bottom;
    background-size: cover;
  }
  #contact-us {
    background-color: var(--alex-white);
  }
  #contact-us:focus,
  #contact-us:active {
    background-color: var(--alex-cyan);
    color: white;
  }
  .home-service-header {
    display: flex;
  }
  .service-wrap {
    p {
      font-size: 18px;
    }
  }

  @media (min-width: 992px) {
    #hero-buttons {
      margin-bottom: 137px;
    }
    #social-hero-image {
      margin-top: 37px;
    }
  }

  @media (min-width: 1200px) {
    #hero-buttons {
      margin-bottom: 156px;
    }
    #social-hero-image {
      margin-top: 0px;
    }
  }
}
body.page-id-1278 {
  #navbar {
    display: none;
  }
}
#wpadminbar {
  display: none;
}
body
  > div.elementor.elementor-1201.elementor-location-footer
  > div
  > div
  > section
  > div.elementor-shape.elementor-shape-top
  > svg
  > path {
  display: none;
}
