#alexmedia-contact-form .acf-text-field {
  margin-bottom: 15px;
}

#alexmedia-contact-form .acf-text-field input {
  color: white;
}
#alexmedia-contact-form .acf-text-field:last-child {
  margin-bottom: 0px;
}
.acf-text-field label {
  right: 0px;
  color: var(--theme);
  font-size: 18px;
}
#alexmedia-contact-form .acf-text-field .Mui-focused {
  right: 0px;
  color: var(--theme-hover);
  }
#alexmedia-contact-form .acf-text-field .Mui-focused input{
  color: var(--theme-hover);
}
.acf-text-field:hover label {
  right: 0px;
  color: var(--theme-black);
}

#alexmedia-contact-form .MuiInputLabel-shrink {
  transform: translate(0, 0);
  color: var(--theme);
}

#alexmedia-contact-form .MuiInputBase-root:after {
  border-bottom: 1px solid var(--theme);
}
#alexmedia-contact-form .Mui-focused.MuiInputBase-root:after {
  border-bottom: 1px solid var(--theme-hover);
}
#alexmedia-contact-form .MuiInput-underline:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid var(--theme-black);
}
#alexmedia-contact-form .MuiInput-underline:not(.Mui-disabled):before {
  border-bottom: 1px solid var(--theme);
}
#alexmedia-contact-form .MuiInputBase-input {
  border-bottom: 1px solid var(--theme);
}
